@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: aquamarine;
}

header {
    background-color: azure;
    width: 100%;
    height: 100px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    
}
 
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}


nav {
    background-color: lightblue;
    height: 40px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
   
    
    
}

nav ul li {
    display: inline;
    padding: 20px 0px;
    margin: 40px;
    font-family:'Comfortaa', cursive;
    font-size: 20px;
    

}

nav ul li a {
    text-decoration: none;
}




.album {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    
    
}

.imagenes {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    
}




.conocenos {
    margin: 20px;
    text-align: justify;
    font-family: 'Comfortaa', cursive ;
}

.lista_dos {
    text-align: center;
    font-family: 'Comfortaa', cursive ;
    
}

ul {
    list-style: none;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.nosotras {
    margin: 50px 50px;
}

form {
    font-family: 'Comfortaa', cursive ;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    

}




footer{
    background-color: lightblue;
    display: block;
    
    margin-top: 20px;
    
    
}

.enviar {
    margin-top: 10px;
    padding: 10px;
}

fieldset {
    border: none;
    padding: 10px;
}

.redes {
    font-weight: bold;
    background-color: azure;
}